
<table>
  <caption>Kategorie</caption>
  <thead>
    <tr>
      <th colspan="2">Wpływy</th>
    </tr>
  </thead>
  <tbody>
    {{#each data.incomes}}
    <tr>
      <td>
        {{this.name}}
      </td> 
      <td>
        <a href='{{this.url}}'>Edytuj</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
  <thead>
    <tr>
      <th colspan="2">Wydatki</th>
    </tr>
  </thead>
  <tbody>
    {{#each data.outcomes}}
    <tr>
      <td>
        {{this.name}}
      </td> 
      <td>
        <a href='{{this.url}}'>Edytuj</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<button>
  <a href='/category/create'>Utwórz nową..</a>  
</button>

<!-- <div class="card fluid">
   <h1 class="section">
      Kategorie
   </h1>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="card fluid">
        <h2 class="section">
          Wpływy
        </h2>

        {{#if data.incomes}} 
          <ul>
            {{#each data.incomes}}
            <li>
              {{this.name}} - <a href='{{this.url}}'>Edytuj</a>
            </li>
            {{/each}}
          </ul>
        {{else}}
          <li class="list-group-item">WPROWADŹ COŚ!</li>
        {{/if}}  
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="card fluid">
        <h2 class="section">
          Wydatki
        </h2>
        {{#if data.outcomes}}
          <ul>
            {{#each data.outcomes}}
              <li>{{this.name}} - <a href='{{this.url}}'>Edytuj</a></li>
            {{/each}}
          </ul>
        {{else}}      
          <li class="list-group-item">WPROWADŹ COŚ!</li>
        {{/if}}  
      </div>  
    </div>
    <a href='/category/create' class="button primary" role="button">Utwórz nową..</a>  
  </div>
</div>
   -->
    
  


