 <h1>
   Witaj {{user.name}}!
 </h1>
 <h2>
   Bilans miesiąca: {{bilans}} zł
 </h2>
 
<table class="table">
    <tr>
      <th class="table__header"> Wpływy:</th>
      <th class="table__header"> {{incomes.total}} zł</th>
    </tr>
    {{#each incomes.categories}}
    <tr>
      <td class="table__data">{{this.name}}</td>
      <td class="currency table__data">{{this.sum}} zł</td>
    </tr>
    {{/each}}
    <tr>
      <th class="table__header"> Wydatki:</th>
      <th class="table__header"> {{outcomes.total}} zł</th>
    </tr>
  {{#each outcomes.categories}}
    <tr>
      <td class="table__data">{{this.name}}</td>
      <td class="currency table__data">{{this.sum}} zł</td>
    </tr>
  {{/each}}
</table>
