 <h1>
   Witaj {{user.name}}!
 </h1>
 <h2>
   Bilans miesiąca: {{bilans}} zł
 </h2>
 
<div class="row">
  <div class="column">
      <h2 class="section">
        Wpływy: {{incomes.total}} zł
      </h2>
     <ul>
        {{#each incomes.categories}}
        <li>
          {{this.name}} - {{this.sum}} zł
        </li>
        {{/each}}
      </ul>
  </div>

  <div class="column">
      <h2 class="section">
        Wydatki: {{outcomes.total}} zł
      </h2>
     <ul>
        {{#each outcomes.categories}}
        <li>
          {{this.name}} - {{this.sum}} zł
        </li>
        {{/each}}
      </ul>
    </div>
</div>

