 <h1>
   Witaj {{user.name}}!
 </h1>
 <h2>
   Bilans miesiąca: {{bilans}} zł
 </h2>
 
<div class="row">
  <div class="column">
    <table class="home-table">
      <thead>
        <tr>
          <th> Wpływy:</th>
          <th> {{incomes.total}} zł</th>
        </tr>
      </thead>
      <tbody>
        {{#each incomes.categories}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.sum}} zł</td>
        </tr>
        {{/each}}
      </tbody>
      <thead>
        <tr>
          <th> Wydatki:</th>
          <th> {{outcomes.total}} zł</th>
        </tr>
      </thead>
      <tbody>
      {{#each outcomes.categories}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.sum}} zł</td>
      </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>

