<h1 class="text-center">
  {{title}}
</h1>

<label for="show-filters-checkbox" class="show-filters-checkbox">Filtry</label>
<input type="checkbox" id="show-filters-checkbox">

<form class="form hidden">
  <fieldset>
    
    <label for="category" class="form__label">Kategoria </label>
    <select class="form__input" name="category" id="category">
      <option value=''>Wszystkie</option>
        {{#each categories}} 
           <option value='{{this._id}}' {{this.selected}} >{{this.name}}</option>
        {{/each}}
    </select>
    
    <label for="sort"  class="form__label">Sortuj</label>
    <select class="form__input" name="sort" id="sort">
      <option value='date-des'>data malejąco</option>
      <option value='date-asc'>data rosnąco</option>
      <option value='sum-asc'>kwota rosnąco</option>
      <option value='sum-des'>kwota malejąco</option>
    </select>
    
    <label for="range"  class="form__label">Zakres</label>
    <select class="form__input" name="range" id="range">
      {{!--<option value='this-week'>bieżący tydzień</option>--}}
      <option value='this-month'>ten miesiąc</option>
      {{!--<option value='last-3-months'>ostatnie 3 miesiace</option>--}}
    </select>

    <label for="description"  class="form__label">Opis</label>
    <input class="form__input" type="text" name="description" id="description" value="{{query.description}}" placeholder="wpisz coś">
    
    <button type="submit" class="form__input form__input--submit">Szukaj</button>
  </fieldset> 
    
</form>

<!-- <main> -->
  <table class="table">
    <thead>
      <tr>
        <th class="table__header" style="width:2em">Data</th>
        <th class="table__header desktop">Kategoria</th>
        <th class="table__header mobile">Opis</th>
        <th class="table__header" style="width: 5em">Kwota</th>
        <th class="table__header desktop">Opis</th>
        <th class="table__header desktop">Kto</th>
      </tr>
    </thead>
    {{#each transactions}}
      <tr class="js-clickable" data-url="{{this.url}}">
        <td class="table__data align-center">{{this.shortDate}}</td>
        <td class="table__data table__data--wrapped align-left">
          {{#if this.description}}
            <span class="mobile">
              {{this.description}}<br/>
            </span>
          {{/if}}
          <span class="mobile-category {{this.category.type}}">
            {{this.category.name}}
          </span>
        </td>
        <td class="table__data currency">{{this.currency}}</td>
        <td class="table__data desktop">{{this.description}}</td>
        <td class="table__data align-center desktop">{{this.createdBy.name}}</td>
      </tr>
    {{/each}}
</table>
<!-- </main> -->
